body {
    background-color: #141922;
}

h1, h2, h3 {
    color: white;
}

.white-text {
    color: white;
}

#big-container {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-flow: row;
}




/* HEADER  */
header {
    width: 200px;
    height: calc(100vh - 90px);
    width: 20%;
    background-color: #000000;
}

header #logo {
    max-width: 200px;
    padding: 1em;
    height: 100px;
    background-color: #00000;
}

nav {
    max-width: 100%;
    height: calc(100% - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #717171;
}

nav i {
    font-size: 2em;
    color: white;
}


nav #menù {
    display: flex;
    flex-flow: column;
}

nav #menù > div,
nav #playlist > div,
nav #account > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

nav #playlist {
    flex-grow: 1;

}

nav #playlist #new-playlist {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

nav #account #account-inner {
    align-items: flex-start;
}

nav #account #account-inner-up {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1em;
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 1em;
}

nav #account #account-inner-down {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1em;
    width: 100%;
}

nav #small-download {
    color: #717171;
    font-size: 1em;
}
/* /HEADER */




/* MAIN */
main {
    width: calc(100vw - 200px);
    height: 100%;
    background-color: #141922;
    display: flex;
    flex-flow: column wrap;
    overflow-y: scroll;
}

main #categories {
    height: 80px;
    max-width: 100%;
    background-color: #7beaf4;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

main .row {
    max-width: 100%;
    min-height: 180px;
    background-color: #f2a9dc;
    margin: 2em 1em 2em 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
}

main .row h2 {
    width: 100%;
}

main .row .album {
    height: 100px;
    width: 100px;
    background-color: #fd4a4a;
    display: flex;
    flex-flow: column;
}

/* /MAIN */




/* UP-BAR */
#up-bar {
    height: 100px;
    width: 100%;
    background-color: black;
    filter: opacity(50%);
    z-index: 2;
}
/* /UP-BAR */








/* DOWN-BAR */

#down-bar {
    top: calc(100vh - 90px);
    width: 100vw;
    height: 90px;
    background-color: #282828;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 2;
}

#down-bar > div {
    height: 100%;
    width: 500px ;
    background-color: #fff;
    padding: 1em;
}

#down-bar #down-left {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

#down-bar #song-preview {
    height: 100%;
    max-width: 100px;
    background-color: rgb(245, 245, 142);
}

#down-bar #song-descript {
    height: 100%;
    max-width: 200px;
    background-color: rgb(171, 244, 148);
}

#down-bar #heart-folder {
    display: flex;
    flex-flow: row wrap;
    max-width: 100px;
    height: 100%;
    background-color: #f96363;
}

#down-bar #down-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

#down-bar #down-center #center-up {
    max-width: 100%;
   
}

#down-bar #down-center #center-down {
    max-width: 100%;
    
}

#down-bar #down-right {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

/* //DOWN-BAR */




