body {
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    color: white;
}

p {
    color: #717171;
}

.white-text {
    color: white;
}

#big-container {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-flow: row;
}




/* HEADER  */
header {
    display: flex;
    flex-flow: column;
    width: 20%;
    height: calc(100vh - 90px);
    background-color: #000000;
    z-index: 2;
}

header #logo {
    max-width: 180px;
    padding: 1em;
    height: 100px;
    background-color: #00000;
}

nav {
    max-width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #717171;
    flex-grow: 1;
    padding: 1em;
}

nav i {
    font-size: 1.5em;
    color: white;
}


nav #menù {
    display: flex;
    flex-flow: column;
}

nav #menù > div,
nav #playlist > div,
nav #account > div {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1em;
    padding: 0.5em 1em; 
}

nav #playlist {
    display: flex;
    flex-flow: column;
    flex-grow: 1;

}

nav #playlist #new-playlist {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

nav #playlist #add-playlist #plus-playlist {
    background-color: #717171;
    color: black;
    padding: 0.3em;
}

nav #account {
    display: flex;
    flex-flow: column;
}


nav #account #account-inner-up {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1em;
    max-width: 100%;
    padding-bottom: 1em;
}

nav #account #account-inner-down {
    display: flex;
    flex-flow: row;
    gap: 1em;
    max-width: 100%;
    padding-top: 1em;
}

nav #small-download {
    color: #717171;
    font-size: 1em;
}

nav hr {
    width: 90%;
}
/* /HEADER */




/* MAIN */
main {
    width: calc(100vw - 20%);
    height: calc(100vh - 90px);
    background-color: #141922;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    padding-top: 110px;
    position: relative;
    overflow-x: hidden;
}

main #main-container {
    height: calc(100% - 180px);
    width: 100%;
}

main #categories {
    min-height: 80px;
    max-width: calc(100% - 3em);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-weight: bold;
}

main #categories a {
    text-decoration: none;
    color: #717171;
}

main .row {
    width: 100%;
    margin: 2em 1em 2em 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

main .row h2 {
    width: 100%;
}

main .row p {
    width: 100%;
}

main .row .album {
    width: calc(100% / 6 - 30px);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}



main .row .album .album-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 1em;
}

main .row h3 {
    padding-bottom: 0.3em;
}

.round {
    border-radius: 50%;
}

/* /MAIN */




/* UP-BAR */
#up-bar {
    height: 100px;
    width: 100%;
    background-color: black;
    filter: opacity(70%);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3em;
}

#up-bar a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 1em 3em;
    border-radius: 30px;
}
/* /UP-BAR */








/* DOWN-BAR */

#down-bar {
    max-width: 100vw;
    height: 90px;
    background-color: #282828;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#down-bar > div {
    height: 100%;
    width: calc(100% / 3) ;
    padding: 1em;
    gap: 1em;
}

#down-bar #down-left {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 350px;
    width: 100%;
}

#down-bar #down-left #song-preview {
    display: flex;
}

#down-bar #down-left #song-preview img {
    width: 46px;
    height: 46px;
    object-fit: contain;
}

#down-bar #song-descript {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-grow: 1;
    font-size: 0.8em;
}


#down-bar #heart-folder {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100%;
}

#down-bar #heart-folder i {
    color: #717171;
}




#down-bar #down-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 100%;
}

#down-bar #down-center #center-up {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
   
}

#down-bar #down-center #center-down {
    width: 100%;
    display: flex;
    flex-flow: row;  
    justify-content: space-around;
    align-items: center; 
    gap: 1em; 
}

#down-bar #down-center #center-down #play-bar {
   max-width: 400px;
   width: 100%;
   height: 4px;
   border-radius: 6px;
   background-color: #717171;
}

#down-bar #down-center #center-down #play-bar #play-bar-current {
    height: 100%;
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 6px;
}

#down-bar #down-center i {
    font-size: 2em;
    color: white;
}

#down-bar #down-center i.little {
    font-size: 1.3em;
}







#down-bar #down-right {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    max-width: 350px;
    width: 100%;
}

#down-bar #down-right i {
    color: white;
}

#down-bar #down-right #barra-volume {
    max-width: 200px;
    width: 100%;
    height: 4px;
    background-color: #717171;
    border-radius: 6px;
}

#down-bar #down-right #barra-volume #barra-volume-current {
    height: 100%;
    width: 15%;
    background-color: #c1c1c1;
    border-radius: 6px;
}

/* //DOWN-BAR */



/* RESPONSIVE TABLET */
@media screen and (min-width:768px) and (max-width:992px) {

main .row .album {
    width: calc(100% / 4 - 30px);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

main #main-container #categories {
    max-width: calc(100% - 3em);
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;
}
}
/* //RESPONSIVE TABLET */


/* RESPONSIVE MOBILE */
@media screen and (min-width:576px) and (max-width:767px) {

    main #main-container .row .album {
        width: calc(100% / 2 - 30px);
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;

    }

    main #categories {
        flex-wrap: wrap;
        gap: 2.5em;
    }

    nav {
        font-size: 0.8em;
    }

}


/* RESPONSIVE SMALL MOBILE */
@media screen and (max-width:575px) {

    header #logo  {
        display: none;
    }

    header nav p, nav h3{
        display: none;
    }

    header nav #plus-playlist {
        display: none;
    }

} 
    

